.weather {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.weather p {
    margin: 0;
}

.temperature-container {
    display: flex;
    padding-right: 40px;
}

.temperature {
    font-size: 32px;
}

.weather-description {
    font-size: 24;
    text-transform: uppercase;
}

.weather-location {
    font-size: 32px;
    
}